
.wp-block-tcc-layout-2-column {

	// Each of the tcc/column blocks in our InnerBlock component
	.editor-block-list__block[data-type="tcc/column"] {
		display: inline-block;
		width: calc(100% / 2 - 2%) !important;
		vertical-align: top;
		margin: 1%;
	}
}
